
<web-app>
	
	<servlet>
        <servlet-name>db</servlet-name>
		<servlet-class>com.nit.servlet.DBTestServlet</servlet-class>
		<init-param>
		  <param-name>driver class</param-name>
		  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<init-param>
		  <param-name>url</param-name>
		  <param-value>jdbc:oracle:@localhost:1521:xe</param-value>
		</init-param>
		
		<init-param>
		  <param-name>dbuser</param-name>
		  <param-value>IMIT</param-value>
		</init-param>
		
		<init-param>
		  <param-name>dbpwd</param-name>
		  <param-value>IMIT</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>	
	</servlet>

	<servlet-mapping>
	    <servlet-name>db</servlet-name>
		<url-pattern>/dburl</url-pattern>
	</servlet-mapping>

</web-app>